<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mb-2 text-center">
    <div class="form-inputs mb-3">
      <%= f.input :name , placeholder: "name of the list"%>
    </div>

    <div class="form-inputs mb-3">
      <%= f.input :movie.name, placeholder: "name of the movie " %>
    </div>

  <div class="form-actions mt-3 text-center">
    <%= f.submit "Add list", class: "btn btn-primary" %>
  </div>

<% end %>
